<h1>Aw, snap!</h1>
<h2>An error occured processing your request. Error details:</h2>
<em>Try refreshing the page. If that doesn't fix the issue, contact support.</em>
<pre>
	<h1>
		<%= message %>
	</h1>
	<h2>
		<%= error.status %>
	</h2>
	<pre><%= error.stack %></pre>
</pre>
